policy_module(at_spi2_registryd, 1.0.0)

require {
	type staff_t;
	role staff_r;
	type staff_application_exec_domain;
}

########################################
#
# Declarations
#

attribute_role at_spi2_registryd_roles;
roleattribute system_r at_spi2_registryd_roles;

type at_spi2_registryd_t;
type at_spi2_registryd_exec_t;
application_domain(at_spi2_registryd_t, at_spi2_registryd_exec_t)
role at_spi2_registryd_roles types at_spi2_registryd_t;
at_spi2_registryd_role(staff_r, staff_t, staff_application_exec_domain, staff_r)

########################################
#
# at_spi2_registryd local policy
#
allow at_spi2_registryd_t self:process { signal_perms };

allow at_spi2_registryd_t self:fifo_file manage_fifo_file_perms;
allow at_spi2_registryd_t self:unix_stream_socket create_stream_socket_perms;

domain_use_interactive_fds(at_spi2_registryd_t)

files_read_etc_files(at_spi2_registryd_t)

logging_send_syslog_msg(at_spi2_registryd_t)

miscfiles_read_localization(at_spi2_registryd_t)
